<!DOCTYPE html>
<html>
<head>
    <title>Check Cluster Probabilities</title>
    <script>
        function generateClusterProbPlots() {
            var team = document.getElementById('team').value;
            var league = document.getElementById('league').value;
            var clusterProbFile = document.getElementById('cluster_prob_file').value;

            fetch('/generate_cluster_prob_plots', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ team: team, league: league, cluster_prob_file: clusterProbFile })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    disableButton('generatePlotsBtn');
                    document.getElementById('toggleAllTeamsBtn').disabled = false;
                    document.getElementById('toggleLeagueTeamsBtn').disabled = false;
                    if (team) {
                        document.getElementById('togglePieChartBtn').disabled = false;
                    }
                    alert('Cluster probability plots generated successfully!');
                } else {
                    alert('Error generating cluster probability plots: ' + data.message);
                }
            })
            .catch(error => console.error('Error generating cluster probability plots:', error));
        }

        function toggleImage(imgId) {
            var img = document.getElementById(imgId);
            if (img.style.display === 'none') {
                img.style.display = 'block';
            } else {
                img.style.display = 'none';
            }
        }

        function disableButton(buttonId) {
            var button = document.getElementById(buttonId);
            button.disabled = true;
        }

        function toggleAllTeamsPlot() {
            var img = document.getElementById('allTeamsPlot');
            if (!img.src || img.src.endsWith('#')) {
                img.src = "/static/images/all_teams_prob_plot.png?" + new Date().getTime(); // Force refresh
            }
            toggleImage('allTeamsPlot');
        }

        function toggleLeagueTeamsPlot() {
            var img = document.getElementById('leagueTeamsPlot');
            if (!img.src || img.src.endsWith('#')) {
                img.src = "/static/images/league_teams_prob_plot.png?" + new Date().getTime(); // Force refresh
            }
            toggleImage('leagueTeamsPlot');
        }

        function togglePieChart() {
            var img = document.getElementById('pieChart');
            if (!img.src || img.src.endsWith('#')) {
                img.src = "/static/images/pie_chart.png?" + new Date().getTime(); // Force refresh
            }
            toggleImage('pieChart');
        }
    </script>
</head>
<body>
    <h1>Check Cluster Probabilities of All Teams</h1>
    <input type="hidden" id="team" value="{{ team }}">
    <input type="hidden" id="league" value="{{ league }}">

    <label for="cluster_prob_file">Select Cluster Probability File:</label>
    <select id="cluster_prob_file" name="cluster_prob_file">
        <option value="in_poss_cluster_probs.csv">In Possession</option>
        <option value="out_of_poss_cluster_probs.csv">Out of Possession</option>
        <option value="trans_out_of_poss_cluster_probs.csv">Transition Out of Possession</option>
        <option value="trans_poss_cluster_probs.csv">Transition Possession</option>
    </select>
    

    <button id="generatePlotsBtn" onclick="generateClusterProbPlots()">Generate Cluster Probability Plots</button>
    <button id="toggleAllTeamsBtn" onclick="toggleAllTeamsPlot()" disabled>Toggle All Teams Probability Plot</button>
    <img id="allTeamsPlot" src="#" alt="All Teams Probability Plot" style="display:none;">


    <button onclick="window.location='{{ url_for('select') }}';">Go Back</button>
</body>
</html>
