<!DOCTYPE html>
<html>
<head>
    <title>Select Custom Tactics</title>
</head>
<body>
    <h1>Select Custom Tactic Type for {{ team if team else league }}</h1>
    <form action="{{ url_for('custom_tactics') }}" method="post">
        <input type="hidden" name="team" value="{{ team }}">
        <input type="hidden" name="league" value="{{ league }}">
        <button type="submit" name="custom_type" value="in_poss">In Possession</button>
        <button type="submit" name="custom_type" value="out_of_poss">Out of Possession</button>
        <button type="submit" name="custom_type" value="trans_in_poss">In Transition Possession</button>
        <button type="submit" name="custom_type" value="trans_out_of_poss">In Transition Out of Possession</button>
    </form>
    <button onclick="window.location='{{ url_for('select') }}';">Go Back</button>
</body>
</html>
