<!DOCTYPE html>
<html>
<head>
    <title>Recommend Playing Style</title>
    <script>
        function toggleImage(imgId) {
            var img = document.getElementById(imgId);
            if (img.style.display === 'none') {
                img.style.display = 'block';
            } else {
                img.style.display = 'none';
            }
        }

        function disableButton(buttonId) {
            var button = document.getElementById(buttonId);
            button.disabled = true;
        }

        function toggleOutcomeMatrix() {
            var img = document.getElementById('outcomeMatrix');
            if (!img.src || img.src.endsWith('#')) {
                img.src = "/static/images/outcome_matrix.png?" + new Date().getTime(); // Force refresh
            }
            toggleImage('outcomeMatrix');
        }

        function toggleOutcomePercentages() {
            var img = document.getElementById('outcomePercentages');
            if (!img.src || img.src.endsWith('#')) {
                img.src = "/static/images/outcome_percentages.png?" + new Date().getTime(); // Force refresh
            }
            toggleImage('outcomePercentages');
        }

        function toggleOutcomeHeatmap() {
            var img = document.getElementById('outcomeHeatmap');
            if (!img.src || img.src.endsWith('#')) {
                img.src = "/static/images/outcome_heatmap.png?" + new Date().getTime(); // Force refresh
            }
            toggleImage('outcomeHeatmap');
        }
    </script>
</head>
<body>
    <h1>Recommend Playing Style for {{ team if team else league }}</h1>
    <button id="toggleOutcomeMatrixBtn" onclick="toggleOutcomeMatrix()">Toggle Outcome Matrix</button>
    <img id="outcomeMatrix" src="#" alt="Outcome Matrix" style="display:none;">

    <button id="toggleOutcomePercentagesBtn" onclick="toggleOutcomePercentages()">Toggle Outcome Percentages</button>
    <img id="outcomePercentages" src="#" alt="Outcome Percentages" style="display:none;">

    <button id="toggleOutcomeHeatmapBtn" onclick="toggleOutcomeHeatmap()">Toggle Outcome Heatmap</button>
    <img id="outcomeHeatmap" src="#" alt="Outcome Heatmap" style="display:none;">

    <button onclick="window.location='{{ url_for('select') }}';">Go Back</button>
</body>
</html>
